.toDo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 25px;
}

.toDo button {
  padding: 5px 8px;
  background-color: orange;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.toDo input {
  padding: 3px 6px;
  width: 250px;
}

.textIsDone {
  color: green;
}
